
@charset "UTF-8";

/*
	✻ Color
	――――――――――――――――――――――――――――――――――――――――――――――― 🙠
*/
%__c-light {
	color: var( --c-light, #ecf0f1 );
}

%__c-primary {
	color: var( --c-primary, #21f3c3 );
}

/*
	✻ Animation
	――――――――――――――――――――――――――――――――――――――――――――――― 🙠
*/
%__transition-default {
	@include transition( all, 0.27s, ease-in-out );
}

/*
	✻ Display
	――――――――――――――――――――――――――――――――――――――――――――――― 🙠
*/
%__dblock {
	display: block;
}

// ―― » Flex
%__flexbox {
	@include flexbox();
}

%__flex-wrap {
	@include flex-wrap( wrap );
}

%__flex-center {
	@include justify-content( center );
	@include align-items( center );
}

%__flex-space-between {
	@include justify-content( space-between );
}

%__flex-column {
	@include flex-direction( column );
}

%__flex-row {
	@include flex-direction( row );
}


/*
	✻ Common
	――――――――――――――――――――――――――――――――――――――――――――――― 🙠
*/
%__reset_spacing {
	padding: 0;
	margin: 0;
}

%__cursor-default {
	cursor: default;
}

%__no-drag {
	-webkit-user-drag: none;
			user-drag: none;
}
%__no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

%__bg-cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/*
	✻ Auto
	――――――――――――――――――――――――――――――――――――――――――――――― 🙠
*/
%__width-auto {
	width: auto;
}

%__height-auto {
	height: auto;
}

%__wh-auto {
	width: auto;
	height: auto;
}

%__margin-auto {
	margin: auto;
}