/*
	✻ Global Variables
	――――――――――――――――――――――――――――――――――――――――――――――― 🙠
*/

:root {

	--c-primary: #21f3c3;
	--c-dark: #2c2d3a;
	--c-light: #ecf0f1;
	--c-blue: #47daff;
	--c-yellow: #fedf6f;
	--c-orange: #e76e54;
	--c-red: #ff4c65;

	--bold-weight: 600;

	--font-family: 'Comfortaa', cursive;
	--font-default: Helvetica, Arial, Lucida, sans-serif; // ―― » Fallback

	--font-monospace: 'Comfortaa', monospace;
	--font-condensed: 'Comfortaa', sans-serif;
	--font-serif: 'Comfortaa', serif;

	// ―― » Navbar Variable
	--navbar-font-size: 22px;

}

.class {
	background-color: var( --c-primary );
	color: var( --my-var, red ); // ―― » Red if --my-var is not defined
}

// 🙵 ―――――――――――――――――――――――――――――――――――――――――――――― 🙠

/*
	✻ Media Queries / Responsive
	――――――――――――――――――――――――――――――――――――――――――――――― 🙠
*/

$desktop-width	: 1024px;
$tablet-width	: 768px;
$mobile-width	: 599px;

// 🙵 ―――――――――――――――――――――――――――――――――――――――――――――― 🙠