/*
	✻ Global Variables
	――――――――――――――――――――――――――――――――――――――――――――――――――――――――― 🙠
*/

:root {
	--main-color: teal;
}

.class {
	background-color: var( --main-color );
	color: var( --my-var, red ); // ―― » Red if --my-var is not defined
}

// 🙵 ―――――――――――――――――――――――――――――――――――――――――――――――――――――――― 🙠

/*
	✻ Media Queries / Responsive
	――――――――――――――――――――――――――――――――――――――――――――――――――――――――― 🙠
*/

$desktop-width	: 1024px;
$tablet-width	: 768px;
$mobile-width	: 599px;

// 🙵 ―――――――――――――――――――――――――――――――――――――――――――――――――――――――― 🙠