doctype html
html
	head
		title Massively by HTML5 UP
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		link(rel='stylesheet', href='assets/css/main.css')
		noscript
			link(rel='stylesheet', href='assets/css/noscript.css')
	body.is-preload
		// Wrapper
		#wrapper.fade-in
			// Intro
			#intro
				h1
					| This is
					br
					| 						Massively
				p
					| A free, fully responsive HTML5 + CSS3 site template designed by
					a(href='https://twitter.com/ajlkn') @ajlkn
					|  for
					a(href='https://html5up.net') HTML5 UP
					br
					| 						and released for free under the
					a(href='https://html5up.net/license') Creative Commons license
					| .
				ul.actions
					li
						a.button.icon.solid.solo.fa-arrow-down.scrolly(href='#header') Continue
			// Header
			header#header
				a.logo(href='index.html') Massively
			// Nav
			nav#nav
				ul.links
					li.active
						a(href='index.html') This is Massively
					li
						a(href='generic.html') Generic Page
					li
						a(href='elements.html') Elements Reference
				ul.icons
					li
						a.icon.brands.fa-twitter(href='#')
							span.label Twitter
					li
						a.icon.brands.fa-facebook-f(href='#')
							span.label Facebook
					li
						a.icon.brands.fa-instagram(href='#')
							span.label Instagram
					li
						a.icon.brands.fa-github(href='#')
							span.label GitHub
			// Main
			#main
				// Featured Post
				article.post.featured
					header.major
						span.date April 25, 2017
						h2
							a(href='#')
								| And this is a
								br
								| 									massive headline
						p
							| Aenean ornare velit lacus varius enim ullamcorper proin aliquam
							br
							| 									facilisis ante sed etiam magna interdum congue. Lorem ipsum dolor
							br
							| 									amet nullam sed etiam veroeros.
					a.image.main(href='#')
						img(src='images/pic01.jpg', alt='')
					ul.actions.special
						li
							a.button.large(href='#') Full Story
				// Posts
				section.posts
					article
						header
							span.date April 24, 2017
							h2
								a(href='#')
									| Sed magna
									br
									| 										ipsum faucibus
						a.image.fit(href='#')
							img(src='images/pic02.jpg', alt='')
						p
							| Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.
						ul.actions.special
							li
								a.button(href='#') Full Story
					article
						header
							span.date April 22, 2017
							h2
								a(href='#')
									| Primis eget
									br
									| 										imperdiet lorem
						a.image.fit(href='#')
							img(src='images/pic03.jpg', alt='')
						p
							| Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.
						ul.actions.special
							li
								a.button(href='#') Full Story
					article
						header
							span.date April 18, 2017
							h2
								a(href='#')
									| Ante mattis
									br
									| 										interdum dolor
						a.image.fit(href='#')
							img(src='images/pic04.jpg', alt='')
						p
							| Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.
						ul.actions.special
							li
								a.button(href='#') Full Story
					article
						header
							span.date April 14, 2017
							h2
								a(href='#')
									| Tempus sed
									br
									| 										nulla imperdiet
						a.image.fit(href='#')
							img(src='images/pic05.jpg', alt='')
						p
							| Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.
						ul.actions.special
							li
								a.button(href='#') Full Story
					article
						header
							span.date April 11, 2017
							h2
								a(href='#')
									| Odio magna
									br
									| 										sed consectetur
						a.image.fit(href='#')
							img(src='images/pic06.jpg', alt='')
						p
							| Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.
						ul.actions.special
							li
								a.button(href='#') Full Story
					article
						header
							span.date April 7, 2017
							h2
								a(href='#')
									| Augue lorem
									br
									| 										primis vestibulum
						a.image.fit(href='#')
							img(src='images/pic07.jpg', alt='')
						p
							| Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.
						ul.actions.special
							li
								a.button(href='#') Full Story
				// Footer
				footer
					.pagination
						// <a href="#" class="previous">Prev</a>
						a.page.active(href='#') 1
						a.page(href='#') 2
						a.page(href='#') 3
						span.extra …
						a.page(href='#') 8
						a.page(href='#') 9
						a.page(href='#') 10
						a.next(href='#') Next
			// Footer
			footer#footer
				section
					form(method='post', action='#')
						.fields
							.field
								label(for='name') Name
								input#name(type='text', name='name')
							.field
								label(for='email') Email
								input#email(type='text', name='email')
							.field
								label(for='message') Message
								textarea#message(name='message', rows='3')
						ul.actions
							li
								input(type='submit', value='Send Message')
				section.split.contact
					section.alt
						h3 Address
						p
							| 1234 Somewhere Road #87257
							br
							| 								Nashville, TN 00000-0000
					section
						h3 Phone
						p
							a(href='#') (000) 000-0000
					section
						h3 Email
						p
							a(href='#') info@untitled.tld
					section
						h3 Social
						ul.icons.alt
							li
								a.icon.brands.alt.fa-twitter(href='#')
									span.label Twitter
							li
								a.icon.brands.alt.fa-facebook-f(href='#')
									span.label Facebook
							li
								a.icon.brands.alt.fa-instagram(href='#')
									span.label Instagram
							li
								a.icon.brands.alt.fa-github(href='#')
									span.label GitHub
			// Copyright
			#copyright
				ul
					li © Untitled
					li
						| Design:
						a(href='https://html5up.net') HTML5 UP
		// Scripts
		script(src='assets/js/jquery.min.js')
		script(src='assets/js/jquery.scrollex.min.js')
		script(src='assets/js/jquery.scrolly.min.js')
		script(src='assets/js/browser.min.js')
		script(src='assets/js/breakpoints.min.js')
		script(src='assets/js/util.js')
		script(src='assets/js/main.js')
