/*
	✻ Transition Mixins
	――――――――――――――――――――――――――――――――――――――――――――――― 🙠
*/

@mixin transition( $prop, $prop_ms, $ease: ease-out, $delay: null ) {
	-webkit-transition: $prop $prop_ms $ease $delay;
	   -moz-transition: $prop $prop_ms $ease $delay;
	     -o-transition: $prop $prop_ms $ease $delay;
		 	transition: $prop $prop_ms $ease $delay;
}

// ―― » Manual Multi Properties
@mixin transition_multi_2( $prop1, $prop2 ) {
	-webkit-transition: $prop1, $prop2;
	   -moz-transition: $prop1, $prop2;
	     -o-transition: $prop1, $prop2;
		 	transition: $prop1, $prop2;
}

@mixin transition-delay( $delay : 500ms ) {
	-webkit-transition-delay: $delay;
	   -moz-transition-delay: $delay;
		 -o-transition-delay: $delay;
			transition-delay: $delay;
}